# Ignore local directories
_archive/
_install/
venv/

# Ignore specific file
prince-lovesexy/Lovesexy.flac

# Ignore local env and OS files
.env
.DS_Store

# Python caches
__pycache__/
.venv/

# Ignore text files
albums.txt
artists.txt
only_in_new.txt
only_in_old.txt

# Ignore video processing temporary files
.backfill_ocr_*
*.tmp.mp4
*.bak